KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=replace-me
DEMO_USER_USERNAME=demo
DEMO_USER_PASSWORD=replace-me
DEMO_USER_EMAIL=demo@example.com
OAUTH2_PROXY_CLIENT_ID=loadtester
OAUTH2_PROXY_CLIENT_SECRET=replace-me
OAUTH2_PROXY_COOKIE_SECRET=replace-me